<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="pull-right text-right" style="line-height: 14px">
                        <small>Ketone<br>Clients - Edit<br><span class="c-white">{{baseModel.version}}</span></small>
                    </div>
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-menu"></i>
                    </div>
                    <div class="header-title">
                        <h3><a href="/clients">Clients</a> - {{client.name}}</h3>
                        <small>Configure as you wish.</small>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Actions</h4>
                {{#hasPermission user 'View Client User'}}
                    <a href="/users?clientId={{@root.client.id}}" class="btn btn-primary">Manage Users</a>
                {{/hasPermission}}
                {{#hasPermission user 'Create Client Scope'}}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addScopeModal"> Add Scope</button>
                {{/hasPermission}}
                {{#hasPermission user 'Create Client Redirect Uri'}}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRedirectUriModal"> Add Redirect Uri</button>
                {{/hasPermission}}
                {{#hasPermission user 'View Client Role'}}
                    <a href="/roles?clientId={{@root.client.id}}" class="btn btn-primary">Manage Roles</a>
                {{/hasPermission}}
                {{#hasPermission user 'View Client Permission'}}
                    <a href="/permissions?clientId={{@root.client.id}}" class="btn btn-primary">Manage Permissions</a>
                {{/hasPermission}}
                <br />
                <br />
                {{#hasPermission user 'View Client Scope'}}
                    <h4>Allowed Scopes</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each @root.client.allowedScopes as |value key|}}
                            <tr>
                                <td>{{value}}</td>
                                <td>{{value.id}}</td>
                                <td>{{value.allowForgotPassword}}</td>
                                <td>{{value.allowRegister}}</td>
                                <td>
                                    {{#hasPermission @root.user 'Update Client Scope'}}
                                        <a href="/clients/removeScope?id={{@root.client.id}}&name={{value}}" class="btn btn-w-md btn-danger">Remove</a>
                                    {{/hasPermission}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/hasPermission}}
                {{#hasPermission user 'View Client Redirect Uri'}}
                    <h4>Redirect Uris</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each @root.client.redirectUris as |value key|}}
                            <tr>
                                <td>{{value}}</td>
                                <td>{{value.id}}</td>
                                <td>{{value.allowForgotPassword}}</td>
                                <td>{{value.allowRegister}}</td>
                                <td>
                                    {{#hasPermission @root.user 'Update Client Redirect Uri'}}
                                        <a href="/clients/removeRedirectUri?id={{@root.client.id}}&uri={{value}}" class="btn btn-w-md btn-danger">Remove</a>
                                    {{/hasPermission}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/hasPermission}}
            </div>
            <div class="col-md-6">
                {{#hasPermission user 'View Client'}}
                    <h4>Details</h4>
                    <form method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{@root.client.name}}" />
                        </div>
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input type="text" class="form-control" disabled name="id" id="id" placeholder="id" value="{{@root.client.id}}" />
                        </div>
                        <div class="form-group">
                            <label for="secret">Secret</label>
                            <input type="text" class="form-control" name="secret" disabled id="secret" placeholder="secret" value="{{@root.client.secret}}"
                            />
                        </div>
                        <div class="form-group">
                            <label for="roleName">Default Role</label>
                            <select class="form-control" id="roleName" name="roleName">
                                <option value="">None</option>
                                {{#each @root.roles as |value key|}}
                                    {{#ifEqualRole value @root.client.role}}
                                        <option selected value="{{value.group.name}}|{{value.name}}">{{value.group.name}} - {{value.name}}</option>
                                    {{/ifEqualRole}}
                                    {{#ifNotEqualRole value @root.client.role}}
                                        <option value="{{value.group.name}}|{{value.name}}">{{value.group.name}} - {{value.name}}</option>
                                    {{/ifNotEqualRole}}
                                {{/each}}
                            </select>
                        </div>
                        <div>
                            <label>
                                {{#if @root.client.allowForgotPassword}}
                                <input name="allowForgotPassword" type="checkbox" checked value="true" /> Allow Forgot Password
                                {{else}}
                                <input name="allowForgotPassword" type="checkbox" value="true" /> Allow Forgot Password
                                {{/if}}
                            </label>
                        </div>
                        <div>
                            <label>
                                {{#if @root.client.allowRegister}}
                                <input name="allowRegister" type="checkbox" checked value="true" /> Allow Register
                                {{else}}
                                <input name="allowRegister" type="checkbox" value="true" /> Allow Register
                                {{/if}}
                            </label>
                        </div>
                        <input type="hidden" name="id" value="{{@root.client.id}}" />
                        <br />
                        <a href="/clients" class="btn btn-default">Cancel</a>
                        {{#hasPermission @root.user 'Update Client'}}
                            <button type="submit" class="btn btn-accent">Save</button>
                        {{/hasPermission}}
                    </form>
                {{/hasPermission}}
            </div>
        </div>
    </div>
</section>

{{#hasPermission user 'Create Client Scope'}}
    <div class="modal fade" id="addScopeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="/clients/addScope" class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Add Scope</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" />
                    </div>
                    <input type="hidden" name="id" value="{{client.id}}" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-accent">Create</button>
                </div>
            </form>
        </div>
    </div>
{{/hasPermission}}

<div class="modal fade" id="addRedirectUriModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" action="/clients/addRedirectUri" class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Add Redirect Uri</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="uri">Uri</label>
                    <input type="text" class="form-control" id="uri" name="uri" placeholder="Uri" />
                </div>
                <input type="hidden" name="id" value="{{client.id}}" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-accent">Create</button>
            </div>
        </form>
    </div>
</div>